In [1]:
#Object (Iterable), List, Tuple, Dictionary, Sequence
for i in 1,2.0,'hi',"hello world":
    print(i)

1
2.0
hi
hello world

In [2]:
lst = [1, 2.0, 'hi', 'Hello World']
for i in lst:
    print(i)

1
2.0
hi
Hello World

In [3]:
lst = (1, 2.0, 'hi', 'Hello World')
for i in lst:
    print(i)

1
2.0
hi
Hello World

In [4]:
lst = [(1, 'a', 2.0), (2, 'b', 3.0), (3, 'c', 4.0)]
for i, j, k in lst:
    print(i, j, k)

1 a 2.0
2 b 3.0
3 c 4.0

In [5]:
d = {1: 'a', 2: 'b'}
for i,j in d.items():
    print(i,j)

1 a
2 b

In [6]:
lst = [1] * 10
for i in lst:
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [7]:
for i in range(1, 101, 2):
    if i > 10:
        break
    print(i, end = '\t')
else:
    print("Hello")

1	3	5	7	9

In [8]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
for i in range(1, 11):
    if i % 3 == 0:
        continue
    print(i)

1
2
4
5
7
8
10

In [10]:
for i in range(1, 11):
    if i % 3 == 0:
        break
    print(i)

1
2

In [11]:
date = '20-12-2023'
if date == '20-12-2023': print("Today")

Today

In [12]:
date = '21-12-2023'
# if date == '20-12-2023':
#     print("Today")
# else:
#     print("Not Today")

# print("Today") if date == '20-12-2023' else print("Not Today")

print("Today" if date == '20-12-2023' else "Not Today")

Not Today

In [13]:
for i in range(5): print(i), print(chr(i+97)), print("Hi")

0
a
Hi
1
b
Hi
2
c
Hi
3
d
Hi
4
e
Hi

In [14]:
a = 10
while a >= 5:
    print('Hi')
    a = a - 1
print("Hello")

Hi
Hi
Hi
Hi
Hi
Hi
Hello

In [15]:
a = 1
while a <= 5:
    if a%4 == 0:
        break
    print("Hi")
    a = a + 1
else:
    print("Hello")

Hi
Hi
Hi

In [16]:
#Sample Example for Break in Data Engineering POV

# for process in processes:
#     #files = s3.list_objects()
    
#     for file in files:
#         if file.endswith(".json"):
#             break
#     break

In [17]:
files = ['file1.csv', 'file2.csv', 'file3.csv']
for file in files:
#     df = spark.read.csv(file)
#     df = df.withcolumn('date', lit(datetime.now))
#     df.write.format('parquet').save(s3_path)
    pass